# Agregación de datos por categoría

In [1]:
import numpy as np
import pandas as pd

In [2]:
gender = ["Male","Female"]
income = ["Poor","Middle Class", "Rich"]

In [3]:
n=500

gender_data = []
income_data = []

for i in range(0,n):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [6]:
income_data[1:10]

['Poor',
 'Poor',
 'Poor',
 'Middle Class',
 'Middle Class',
 'Middle Class',
 'Middle Class',
 'Poor',
 'Poor']

In [7]:
gender_data[1:10]

['Female',
 'Female',
 'Male',
 'Male',
 'Male',
 'Female',
 'Male',
 'Male',
 'Female']

In [8]:
#N(m,s) -> m+s*z
height = 160 + 30 * np.random.randn(n)
weight = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.randn(n)

In [9]:
data = pd.DataFrame(
{
    "Gender": gender_data,
    "Economic Status": income_data,
    "Height": height,
    "Weight": weight,
    "Age": age,
    "Income": income
}
)

In [10]:
data.head()

   Gender Economic Status      Height     Weight        Age        Income
0  Female    Middle Class  151.646026  41.032937  21.572412  18244.157865
1  Female            Poor  144.053353  90.537076  33.728153  21284.941801
2  Female            Poor  130.991161  40.150748  22.754075  20167.955507
3    Male            Poor  153.535623  65.265272  36.019782  23188.000831
4    Male    Middle Class  155.675542  63.950349  38.587308  23413.693760

Para hacer una agraupación de datos al mismo DF hay que hacerle un groupBy

In [12]:
groped_gender = data.groupby("Gender")

In [13]:
groped_gender.groups

{'Female': Int64Index([  0,   1,   2,   6,   9,  12,  13,  15,  17,  18,
             ...
             481, 485, 486, 489, 490, 491, 493, 495, 497, 499],
            dtype='int64', length=270),
 'Male': Int64Index([  3,   4,   5,   7,   8,  10,  11,  14,  16,  20,
             ...
             480, 482, 483, 484, 487, 488, 492, 494, 496, 498],
            dtype='int64', length=230)}

In [14]:
for names, groups in groped_gender:
    print(names)
    print(groups)

Female
     Gender Economic Status      Height     Weight        Age        Income
0    Female    Middle Class  151.646026  41.032937  21.572412  18244.157865
1    Female            Poor  144.053353  90.537076  33.728153  21284.941801
2    Female            Poor  130.991161  40.150748  22.754075  20167.955507
6    Female    Middle Class  145.709398  52.692465  39.789951  22542.888497
9    Female            Poor  168.368526  53.830137  12.933532  21404.068394
..      ...             ...         ...        ...        ...           ...
491  Female    Middle Class  139.165481  56.942510  44.081748  19500.878607
493  Female            Poor  202.728883  70.179470  47.991032  20342.132966
495  Female            Poor  148.689932  97.990514  24.362750  16069.257745
497  Female            Rich  176.381482  79.427104  27.540795  17896.465197
499  Female            Rich   94.719814  59.151010   4.566075  21477.085687

[270 rows x 6 columns]
Male
    Gender Economic Status      Height     Weight        Age        Income
3     Male            Poor  153.535623  65.265272  36.019782  23188.000831
4     Male    Middle Class  155.675542  63.950349  38.587308  23413.693760
5     Male    Middle Class  163.227170  60.505881  27.469863  21541.090542
7     Male    Middle Class  156.298637  86.386395   5.402038  21669.893887
8     Male            Poor  120.919752  32.676374  25.887894  18809.044382
..     ...             ...         ...        ...        ...           ...
488   Male            Poor  200.331377  85.549110  22.319750  21932.263068
492   Male    Middle Class  237.363107  87.694843  38.131459  24422.999328
494   Male            Poor  190.521782  46.782654  29.036058  17986.849179
496   Male            Rich  129.754339  21.076552  31.866030  18174.271862
498   Male            Poor  200.950520  71.206119  14.817182  18671.732153

[230 rows x 6 columns]

In [15]:
groped_gender.get_group("Female")

     Gender Economic Status      Height     Weight        Age        Income
0    Female    Middle Class  151.646026  41.032937  21.572412  18244.157865
1    Female            Poor  144.053353  90.537076  33.728153  21284.941801
2    Female            Poor  130.991161  40.150748  22.754075  20167.955507
6    Female    Middle Class  145.709398  52.692465  39.789951  22542.888497
9    Female            Poor  168.368526  53.830137  12.933532  21404.068394
..      ...             ...         ...        ...        ...           ...
491  Female    Middle Class  139.165481  56.942510  44.081748  19500.878607
493  Female            Poor  202.728883  70.179470  47.991032  20342.132966
495  Female            Poor  148.689932  97.990514  24.362750  16069.257745
497  Female            Rich  176.381482  79.427104  27.540795  17896.465197
499  Female            Rich   94.719814  59.151010   4.566075  21477.085687

[270 rows x 6 columns]

In [16]:
double_group = data.groupby("")

KeyError: ''